<div class="container">
    <div class="row" id="nav">
        <div class="col-1">
            <p><a href="/">Home</a></p>
        </div>
        <div class="col-2">
           <p><a href="/saved">Saved Roleplays</a></p>
        </div>
        <div class="col-1">
            <a href="/scrape"><button class="btn btn-info">Scrape Roleplays!</button></a>
        </div>
    </div>

    {{#each roleplay}}
    <div class="row main-row">
        <div class="col">
        <div class="row">

             <div class="col-10">
                <h3 class="title">{{this.title}}</h3>
            </div>
            <div class="col-2">
                <button class="btn btn-danger">Delete</button>
                <button class="btn btn-info">Notes</button>
            </div>

        </div>
        <div class="row">
            <p class="link">https://www.rpnation.com/{{this.link}}</p>
        </div>
        </div>
    </div>
    {{/each}}
</div>