body {
    background-image: url("../img/bookshelf.jpg");
}

h1 {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 50px;
}

#title-div {
    background-image: url("../img/background.jpg");
    height: 350px;
    width: 100%;
    background-size: cover;
    /*border-bottom: 55px solid black;*/
    /*background-repeat: no-repeat;*/
}

#nav {
    background-color: black;
    padding: 10px;
    color: white;
    margin: 0px -85px;
}

.link {
    color: blue;
}

.main-row {
    background-color: rgb(224, 213, 176);
    margin: 10px 5px;
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
}